# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# macOS
.DS_Store

# Sniff / config / secrets
Secrets.xcconfig

# Local instruction file
AGENTS.md
Sniff/Config/
Sniff/GoogleService-Info.plist


